<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<contextName>sc-client1-ms</contextName>
	<property name="CUSTOM_LOG_HOME"    value="/var/appLogs/javaApp/sc-client2-ms/custom" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level - %msg %n %caller{1}</pattern>
		</encoder>
	</appender>

	<!--logger start -->
	<appender name="com.wwc.spring.cloud.debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${CUSTOM_LOG_HOME}/custom-00-debug-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>24</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern><![CDATA[<debug>]]>%d{YYYY-MM-dd HH:mm:ss}|[%thread]|%msg|<![CDATA[</debug>]]>%n</pattern>
		</encoder>
	</appender>

	<appender name="com.wwc.spring.cloud.warn" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${CUSTOM_LOG_HOME}/custom-00-warn-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>24</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern><![CDATA[<warn>]]>%d{YYYY-MM-dd HH:mm:ss}|[%thread]|%msg|<![CDATA[</warn>]]>%n</pattern>
		</encoder>
	</appender>

	<appender name="com.wwc.spring.cloud.error" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${CUSTOM_LOG_HOME}/custom-00-error-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>24</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern><![CDATA[<error>]]>%d{YYYY-MM-dd HH:mm:ss}|[%thread]|%msg|<![CDATA[</error>]]>%n</pattern>
		</encoder>
	</appender>

	<appender name="com.wwc.spring.cloud.system" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${CUSTOM_LOG_HOME}/custom-00-system-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>24</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern><![CDATA[<system>]]>%d{YYYY-MM-dd HH:mm:ss}|[%thread]|%msg|<![CDATA[</system>]]>%n</pattern>
		</encoder>
	</appender>

	<appender name="com.wwc.spring.cloud.extra" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${CUSTOM_LOG_HOME}/custom-00-extra-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>24</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern><![CDATA[<extra>]]>%d{YYYY-MM-dd HH:mm:ss}|[%thread]|%msg|<![CDATA[</extra>]]>%n</pattern>
		</encoder>
	</appender>

	<appender name="com.wwc.spring.cloud.access" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${CUSTOM_LOG_HOME}/custom-00-access-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>24</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern><![CDATA[<access>]]>%d{YYYY-MM-dd HH:mm:ss}|[%thread]|%msg|<![CDATA[</access>]]>%n</pattern>
		</encoder>
	</appender>
	
	<appender name="com.wwc.spring.cloud.sql" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${CUSTOM_LOG_HOME}/custom-00-sql-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>24</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern><![CDATA[<access>]]>%d{YYYY-MM-dd HH:mm:ss}|[%thread]|%msg|<![CDATA[</access>]]>%n</pattern>
		</encoder>
	</appender>

	<appender name="com.wwc.spring.cloud.pfme" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${CUSTOM_LOG_HOME}/custom-00-pfme-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>24</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern><![CDATA[<performance>]]>%d{YYYY-MM-dd HH:mm:ss}|[%thread]|%msg|<![CDATA[</performance>]]>%n</pattern>
		</encoder>
	</appender>
	<!-- logger end -->

	<logger name="org.springframework" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.apache.ibatis" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.quartz" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.hibernate" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.mybatis.spring" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="io.lettuce.core" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.apache" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.alibaba" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.jboss" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.xxl.job.core" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.ctrip.framework.apollo" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>


	<logger name="io.netty" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.lambdaworks" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.netflix" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<!--logger start -->
	<logger name="com.wwc.spring.cloud" level="DEBUG" additivity="false">
		<appender-ref ref="com.wwc.spring.cloud.debug" />
	</logger>
	<logger name="com.wwc.spring.cloud" level="WARN" additivity="false">
		<appender-ref ref="com.wwc.spring.cloud.warn" />
	</logger>

	<logger name="com.wwc.spring.cloud" level="ERROR" additivity="false">
		<appender-ref ref="com.wwc.spring.cloud.error" />
	</logger>

	<logger name="com.wwc.spring.cloud。client2.controller" level="DEBUG" additivity="false">
		<appender-ref ref="com.wwc.spring.cloud.access" />
	</logger>

	<logger name="com.wwc.spring.cloud" level="DEBUG" additivity="false">
		<appender-ref ref="com.wwc.spring.cloud.system" />
	</logger>

	<logger name="com.wwc.spring.cloud" level="DEBUG" additivity="false">
		<appender-ref ref="com.wwc.spring.cloud.extra" />
	</logger>
	<!-- sql打印 -->
	<logger name="com.wwc.spring.cloud.client2.dao" level="DEBUG" additivity="false">
		<appender-ref ref="com.wwc.spring.cloud.sql" />
	</logger>
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
